.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/*shared styles*/

.primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/*Header Styles*/
.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;

}

nav li a {
    text-decoration: none;
}

/*Banner Styles*/
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}

.banner-greet {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
    color: #474747;
}

.profile-image {
    width: 580px;
}

.banner-text {

    max-width: 580px;
}

.banner-description {
    font-style: italic;
    font-size: 20px;
    color: #474747;
    margin: 30px 0px 50px 0px;
}

/* Section Styles */
.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description {
    font-size: 20px;
    color: #757575;
}

.about {
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    border-radius: 10px;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.secondary-bg {
    background-color: #F5F5F5;
}

main {
    max-width: 1140px;
    margin: 0px auto;
}